.content{
    background-color: khaki;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 400px;
}

.box{
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}