.footer {
  width: 100%;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
  background-color: rgb(191, 237, 184);
}

.contacta {
  font-size: 50px;
  font-style: italic;
  color: #283629;
}

.ubicacion {
  width: 800px;
  height: 500px;
}