header{
    display: flex;
    height: 70px;
    width: 100px;
    background-color:coral ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo{
    display: flex;
    align-items: center;
    margin-right: 20;
  }
  
  .logo img{
    width: 150px;
    height: 100px;
    margin-left: -30px;
  
  }
  
  .maincontacto {
    background-color: antiquewhite;
  }
  
  .parrafos {
    background-color: #a7f5a5;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .parrafos2 {
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .parrafo3 {
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .contactoimagen2  {
    width: 100dvh;
    height: 100dvh;
  }
  
  .contactoparrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
  }