.header{
    display: flex;
    height: 70px;
    width: 100px;
    background-color:coral ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    margin-right: 20;
}

.logo img{
    width: 150px;
    height: 100px;
    margin-left: -30px;

}

.contactaconnosotros {
    margin-bottom: 35px;
    font-size: 100px;
    color: #f5f0f0;
    font-weight: 900;
    line-height: 3em;
}

.banner{
    position: relative;
    min-height: 50vh;
    margin-top: 80px;
    padding: 0 20%;
    background: #88bbd6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 2s;
    animation: fondo 20s ease-in-out infinite;
}

.imagencontacto {
    width: 300px;
    height: 300px;
}

.contactoinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background: #F5F3F4;
}