.container-fluid{
  display: flex;
  height: 80px;
  background-color:rgb(229, 111, 68) ;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}



.carousel-inner {
  height: 100dvh;
  width: 100dvh;
}



.logo{
  display: flex;
  align-items: center;
  margin-right: 40;
  width: 50px;
  height: 50px;
}




.Main {
  background-color:rgb(201, 155, 100);
  text-decoration: double;
}


nav a{
  font-weight: 600;
  padding-right: 10px;
}

#Titulo{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
  color:rgb(108, 115, 248);
  
}

.texto{
  border: solid 1px black;
  color: rgb(7, 7, 7);
  background-color: rgb(243, 218, 170);
  padding: 15px 10px 15px 10px;
}

body{
  background-color:rgb(238, 238, 180);
  
}

h1{
  border: solid 1px black;
  color: black;
  margin-top: 50px;
  background-color: rgb(141, 109, 41);
  padding: 15px 10px 15px 10px;
}



.datosconsulta {
  font-size: 14pt;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.margen{
  height: 100px;
  width: 200px;
}

.Parrafo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  font-style:normal;
  color: black;
}